<!--
--------
WARNING:
--------

THIS CODE IS ONLY MADE AVAILABLE FOR DEMONSTRATION PURPOSES AND IS NOT SECURE! DO NOT USE IN PRODUCTION!

FOR SECURITY REASONS, USING A JAVASCRIPT WEB APP HOSTED VIA THE CORDA NODE IS NOT THE RECOMMENDED WAY TO INTERFACE
WITH CORDA NODES! HOWEVER, FOR THIS PRE-ALPHA RELEASE IT'S A USEFUL WAY TO EXPERIMENT WITH THE PLATFORM AS IT ALLOWS
YOU TO QUICKLY BUILD A UI FOR DEMONSTRATION PURPOSES.

GOING FORWARD WE RECOMMEND IMPLEMENTING A STANDALONE WEB SERVER THAT AUTHORISES VIA THE NODE'S RPC INTERFACE. IN THE
COMING WEEKS WE'LL WRITE A TUTORIAL ON HOW BEST TO DO THIS.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example CorDapp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>
    <script src="js/angular-module.js"></script>
</head>
<body ng-app="demoAppModule" ng-controller="DemoAppController as demoApp">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{demoApp.thisNode}}</a>
        </div>
        <button ng-click="demoApp.openCreateDemandModal()" type="button" class="btn btn-primary navbar-btn">Create Demand</button>
    </div>
</nav>

<script type="text/ng-template" id="createDemandModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Add new Demand</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-group">
                <label for="counterparty" class="control-label">Counter-party:</label>
                <select ng-model="modalInstance.form.counterparty" class="form-control" id="counterparty"
                        ng-options="peer as peer for peer in modalInstance.peers">
                </select>
            </div>
            <div class="form-group">
                <label for="description" class="control-label">Description:</label>
                <input type="text" ng-model="modalInstance.form.description" class="form-control" id="description">
            </div>
            <div ng-show="modalInstance.formError" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Enter valid Demand parameters
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="modalInstance.cancel()" type="button" class="btn btn-default">Close</button>
            <button ng-click="modalInstance.create()" type="button" class="btn btn-primary">Create Demand</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="updateDemandModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Update Demand Estimates</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-group">
                <label for="amount" class="control-label">Amount (Int):</label>
                <input type="text" ng-model="modalInstance.form.amount" class="form-control" id="amount">
            </div>
            <div class="form-group">
                <label for="startDate" class="control-label">Value (Int):</label>
                <input type="date" ng-model="modalInstance.form.startDate" class="form-control" id="startDate">
            </div>
            <div class="form-group">
                <label for="endDate" class="control-label">Value (Int):</label>
                <input type="date" ng-model="modalInstance.form.endDate" class="form-control" id="endDate">
            </div>
            <div ng-show="modalInstance.formError" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Enter valid Demand parameters
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default">Close</button>
            <button type="button" class="btn btn-primary">Submit For Approval</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="messageContent.html">
    <div class="modal-body" id="modal-body">
        {{ modalInstanceTwo.message }}
    </div>
</script>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div ng-show="!demoApp.demands.length" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">There are no recorded Demands</h3>
            </div>
            <div class="panel-body">Use the "Create Demand" button to send a new Demand to a peer.</div>
        </div>
        <div ng-show="demoApp.demands.length" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Recorded Demands:</h3>
            </div>
        </div>
        <div ng-repeat="demand in demoApp.demands" class="panel panel-default">
            <div class="panel-body">
                <table>
                    <tr>
                        <td>ID: </td>
                        <td>{{demand.linearId.id}}</td>
                    </tr>
                    <tr>
                        <td>Sponsor: </td>
                        <td>{{demand.sponsor}}</td>
                    </tr>
                    <tr>
                        <td>Platform Lead: </td>
                        <td>{{demand.platformLead}}</td>
                    </tr>
                    <tr>
                        <td>Description: </td>
                        <td>{{demand.description}}</td>
                    </tr>
                    <tr>
                        <td>Amount: </td>
                        <td>{{demand.amount}}</td>
                    </tr>
                    <tr>
                        <td>Start Date: </td>
                        <td>{{demand.startDate}}</td>
                    </tr>
                    <tr>
                        <td>End Date: </td>
                        <td>{{demand.endDate}}</td>
                    </tr>
                    <tr>
                        <td>Approval Parties: &emsp;</td>
                        <td>{{demand.approvalParties.length === 0 ? '' : demand.approvalParties}}</td>
                    </tr>
                </table>
                <div class="control-group"></div>
                <div class="float-right">
                    <button ng-click="demoApp.openUpdateDemandModal()" type="button" class="btn btn-primary">Update Demand Estimates</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

</body>
</html>