<!--
--------
WARNING:
--------

THIS CODE IS ONLY MADE AVAILABLE FOR DEMONSTRATION PURPOSES AND IS NOT SECURE! DO NOT USE IN PRODUCTION!

FOR SECURITY REASONS, USING A JAVASCRIPT WEB APP HOSTED VIA THE CORDA NODE IS NOT THE RECOMMENDED WAY TO INTERFACE
WITH CORDA NODES! HOWEVER, FOR THIS PRE-ALPHA RELEASE IT'S A USEFUL WAY TO EXPERIMENT WITH THE PLATFORM AS IT ALLOWS
YOU TO QUICKLY BUILD A UI FOR DEMONSTRATION PURPOSES.

GOING FORWARD WE RECOMMEND IMPLEMENTING A STANDALONE WEB SERVER THAT AUTHORISES VIA THE NODE'S RPC INTERFACE. IN THE
COMING WEEKS WE'LL WRITE A TUTORIAL ON HOW BEST TO DO THIS.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IT Budgeting App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>
    <script src="js/angular-module.js"></script>
</head>
<body ng-app="demoAppModule" ng-controller="DemoAppController as demoApp">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{demoApp.thisNode}}</a>
        </div>
        <button ng-show="demoApp.isSponsor" ng-click="demoApp.openCreateDemandModal()" type="button" class="btn btn-primary navbar-btn">Create Demand</button>
    </div>
</nav>

<script type="text/ng-template" id="createDemandModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Add new Demand</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-group">
                <label for="counterparty" class="control-label">Platform Lead:</label>
                <select ng-model="createModalInstance.form.counterparty" class="form-control" id="counterparty"
                        ng-options="peer as peer for peer in createModalInstance.peers">
                </select>
            </div>
            <div class="form-group">
                <label for="description" class="control-label">Description:</label>
                <input type="text" ng-model="createModalInstance.form.description" class="form-control" id="description">
            </div>
            <div ng-show="createModalInstance.formError" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Enter valid Demand parameters
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="createModalInstance.cancel()" type="button" class="btn btn-default">Close</button>
            <button ng-click="createModalInstance.create()" type="button" class="btn btn-primary">Create Demand</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="updateDemandModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Update Demand Estimates</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-group">
                <label for="id" class="control-label">ID:</label>
                <input type="text" class="form-control" id="id" value={{updateModalInstance.id}} disabled>
            </div>
            <div class="form-group">
                <label for="sponsor" class="control-label">Sponsor:</label>
                <input type="text" class="form-control" id="sponsor" value={{updateModalInstance.lender}} disabled>
            </div>
            <div class="form-group">
                <label for="platformLead" class="control-label">Platform Lead:</label>
                <input type="text" class="form-control" id="platformLead" value={{updateModalInstance.borrower}} disabled>
            </div>
            <div class="form-group">
                <label for="descriptionForUpdate" class="control-label">Description:</label>
                <input type="text" class="form-control" id="descriptionForUpdate" value={{updateModalInstance.description}} disabled>
            </div>
            <div class="form-group">
                <label for="amount" class="control-label">Amount (Int):</label>
                <input type="text" ng-model="updateModalInstance.form.amount" class="form-control" id="amount">
            </div>
            <div class="form-group">
                <label for="startDate" class="control-label">Start Date:</label>
                <input type="date" ng-model="updateModalInstance.form.startDate" class="form-control" id="startDate">
            </div>
            <div class="form-group">
                <label for="endDate" class="control-label">End Date:</label>
                <input type="date" ng-model="updateModalInstance.form.endDate" class="form-control" id="endDate">
            </div>
            <div ng-show="updateModalInstance.formError" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Enter valid Demand parameters
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="updateModalInstance.cancel()" type="button" class="btn btn-default">Close</button>
            <button ng-click="updateModalInstance.update(updateModalInstance.id)" type="button" class="btn btn-success">Submit For Approval</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="allocationModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Allocate Delivery Team</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-group">
                <label for="allocateProjectId" class="control-label">ID:</label>
                <input type="text" class="form-control" id="allocateProjectId" value={{allocateModalInstance.id}} disabled>
            </div>
            <div class="form-group">
                <label for="allocateProjectDescription" class="control-label">Description:</label>
                <input type="text" class="form-control" id="allocateProjectDescription" value={{allocateModalInstance.description}} disabled>
            </div>
            <div class="form-group">
                <label for="allocateProjectBudget" class="control-label">Project Budget (Int):</label>
                <input type="text" class="form-control" id="allocateProjectBudget" value={{allocateModalInstance.budget}} disabled>
            </div>
            <div class="form-group">
                <label for="deliveryTeam" class="control-label">Delivery Team:</label>
                <select ng-model="allocateModalInstance.form.deliveryTeam" class="form-control" id="deliveryTeam"
                        ng-options="deliveryTeam as deliveryTeam for deliveryTeam in allocateModalInstance.deliveryTeams">
                </select>
            </div>
            <div class="form-group">
                <label for="allocationAmount" class="control-label">Allocation Amount (Int):</label>
                <input type="text" class="form-control" id="allocationAmount" ng-model="allocateModalInstance.form.allocationAmount">
            </div>
            <div class="form-group">
                <label for="allocateStartDate" class="control-label">Start Date:</label>
                <input type="date" ng-model="allocateModalInstance.form.startDate" class="form-control" id="allocateStartDate">
            </div>
            <div class="form-group">
                <label for="allocateEndDate" class="control-label">End Date:</label>
                <input type="date" ng-model="allocateModalInstance.form.endDate" class="form-control" id="allocateEndDate">
            </div>
            <div ng-show="allocateModalInstance.formError" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Enter valid Allocation parameters
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="allocateModalInstance.cancel()" type="button" class="btn btn-default">Close</button>
            <button ng-click="allocateModalInstance.allocate(allocateModalInstance.id)" type="button" class="btn btn-success">Allocate Delivery Team</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="messageContent.html">
    <div class="modal-body" id="modal-body">
        {{ modalInstanceTwo.message }}
    </div>
</script>

<div class="row" style="margin-left: 0; margin-right: 0">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Demands:</h3>
            </div>

            <div ng-show="!demoApp.demands.length">
                <div class="panel-body">
                    <p>There are no recorded Demands.
                    <span ng-show="demoApp.isSponsor">Click on "Create Demand" button to start a new Demand creation process.</span>
                    </p>
                </div>
            </div>
        </div>

        <div ng-repeat="demand in demoApp.demands" class="panel panel-default">
            <div class="panel-body">
                <table>
                    <tr>
                        <td>ID: </td>
                        <td>{{demand.linearId.id}}</td>
                    </tr>
                    <tr>
                        <td>Sponsor: </td>
                        <td>{{demand.lender}}</td>
                    </tr>
                    <tr>
                        <td>Platform Lead: </td>
                        <td>{{demand.borrower}}</td>
                    </tr>
                    <tr>
                        <td>Description: </td>
                        <td>{{demand.description}}</td>
                    </tr>
                    <tr>
                        <td>Amount: </td>
                        <td>{{demand.amount}}</td>
                    </tr>
                    <tr>
                        <td>Start Date: </td>
                        <td>{{demand.startDate}}</td>
                    </tr>
                    <tr>
                        <td>End Date: </td>
                        <td>{{demand.endDate}}</td>
                    </tr>
                    <tr>
                        <td>Approval Parties: &emsp;</td>
                        <td>{{demand.approvalParties.length === 0 ? '' : demand.approvalParties}}</td>
                    </tr>
                </table>

                <div ng-show="demoApp.isPlatformLead">
                    <br/>
                    <div class="float-right">
                        <button ng-click="demoApp.openUpdateDemandModal(demand)" type="button" class="btn btn-default">Update Demand Estimates</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Projects:</h3>
            </div>

            <div ng-show="!demoApp.projects.length">
                <div class="panel-body">
                    <p>There are no recorded Projects.</p>
                </div>
            </div>
        </div>

        <div ng-repeat="project in demoApp.projects" class="panel panel-default">
            <div class="panel-body">
                <table>
                    <tr>
                        <td>ID: </td>
                        <td>{{project.linearId.id}}</td>
                    </tr>
                    <tr>
                        <td>Project Code: </td>
                        <td>{{project.projectCode}}</td>
                    </tr>
                    <tr>
                        <td>Sponsor: </td>
                        <td>{{project.lender}}</td>
                    </tr>
                    <tr>
                        <td>Platform Lead: </td>
                        <td>{{project.borrower}}</td>
                    </tr>
                    <tr>
                        <td>Description: </td>
                        <td>{{project.description}}</td>
                    </tr>
                    <tr>
                        <td>Start Date: </td>
                        <td>{{project.startDate}}</td>
                    </tr>

                    <tr>
                        <td>End Date: </td>
                        <td>{{project.endDate}}</td>
                    </tr>

                    <tr>
                        <td>Amount: </td>
                        <td>{{project.budget}}</td>
                    </tr>

                    <tr>
                        <td>Demand ID: </td>
                        <td>{{project.demandId}}</td>
                    </tr>
                </table>
                <br/>
                <div class="float-right"  ng-show="demoApp.isPlatformLead">
                    <button ng-click="demoApp.openAllocationModal(project)" type="button" class="btn btn-default">Allocate Delivery Teams</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Allocations:</h3>
            </div>

            <div ng-show="!demoApp.allocations.length">
                <div class="panel-body">
                    <p>There are no recorded Allocations.</p>
                </div>
            </div>
        </div>

        <div ng-repeat="allocation in demoApp.allocations" class="panel panel-default">
            <div class="panel-body">
                <table>
                    <tr>
                        <td>ID: </td>
                        <td>{{allocation.linearId.id}}</td>
                    </tr>
                    <tr>
                        <td>Project Code: </td>
                        <td>{{allocation.projectCode}}</td>
                    </tr>
                    <tr>
                        <td>Allocation Key: </td>
                        <td>{{allocation.allocationKey}}</td>
                    </tr>
                    <tr>
                        <td>Delivery Team: </td>
                        <td>{{allocation.deliveryTeam}}</td>
                    </tr>
                    <tr>
                        <td>Platform Lead: </td>
                        <td>{{allocation.platformLead}}</td>
                    </tr>
                    <tr>
                        <td>Description: </td>
                        <td>{{allocation.description}}</td>
                    </tr>
                    <tr>
                        <td>Start Date: </td>
                        <td>{{allocation.startDate}}</td>
                    </tr>

                    <tr>
                        <td>End Date: </td>
                        <td>{{allocation.endDate}}</td>
                    </tr>

                    <tr>
                        <td>Amount: </td>
                        <td>{{allocation.allocationAmount}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>